/*! -------------------- */
/*! CUSTOM PROPERTIES    */
/*! -------------------- */
:root {
    /** Fonts */
    --ff-serif: 'Bitter', Cambria, Cochin, Georgia, Times, serif;
    --ff-sans-serif: 'Exo', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Sans Unicode', Geneva, sans-serif;
    --ff-monosp: 'Inconsolata', monospace;

    /** Font weights */
    --fw-light: 300;
    --fw-medium: 400;
    --fw-semibold: 500;
    --fw-bold: 600;
    
    /** Colors */ 
    --clr-dark: 0, 0%, 10%;
    --clr-light: 0, 0%, 87%;
    --clr-base-dark: 200, 65%, 15%; 
    --clr-base-light: 200, 65%, 35%;
    --clr-accent-dark: 0, 90%, 67%;
    --clr-accent-light: 0, 90%, 78%;

    /** Margins and paddings */
    --pad-sctn: 1em;
}



/*! -------------------- */
/*! RESET CSS            */
/*! -------------------- */

/** Box sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

/** Margins & paddings */
body,
h1, h2, h3, h4, h5, h6, p,
picture, figure, img {
    margin: 0;
    padding: 0;
}

/** Set up the body */
body {
    overflow-x: hidden; 
    line-height: 1.5;
    min-height: 100vh;
    background-color: hsl(var(--clr-base-dark));
    color: hsl(var(--clr-light));
}

/** Make images easier to work with */ 
img,
picture,
figure {
    max-width: 100%;
    display: block;
}

/** A11Y - Remove all animations, transitions and smooth scroll for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  } 

/** A11Y - screen reader only: only for assistive technologies which read the page out loud */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
} 

/*! -------------------- */
/*! TYPOGRAPHY           */
/*! -------------------- */
h1, h2, h3 {
    font-family: var(--ff-serif);
    font-weight: var(--fw-bold);
}

p {
    font-family: var(--ff-sans-serif);
    font-weight: var(--fw-medium);
}

a {
    color: hsl(var(--clr-accent-light));
    text-decoration: none;
    font-family: var(--ff-sans-serif);
}

/*! -------------------- */
/*! SECTIONAL CLASSES    */
/*! -------------------- */
.section {
    width: 100%;
    padding: 0 var(--pad-sctn);
}

.accent {
    color: hsl(var(--clr-accent-light));
}


/*! -------------------- */
/*! NAVBAR               */
/*! -------------------- */
.nav {
    background-color: hsl(var(--clr-dark));
}


/*! -------------------- */
/*! FOOTER               */
/*! -------------------- */
footer {
    background-color: hsl(var(--clr-dark));
}

/*! -------------------- */
/*! HERO                 */
/*! -------------------- */
.hero__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero__title {
    font-size: clamp(3rem, 2rem + 5vw, 5rem)
}

.hero__subtitle {
    color: hsl(var(--clr-accent-light));
    font-weight: var(--fw-semibold);
    font-size: clamp(1.2rem, 1rem + 1.1vw, 2.5rem);
}

.hero__body {
    font-size: clamp(1rem, 0.8rem + 0.8vw, 1.8rem);
}

.hero__photo {
    display: none;
}

/*! -------------------- */
/*! MEDIA QUERIES        */
/*! -------------------- */
@media screen and (min-width: 600px) {
    #hero {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1;
        grid-template-areas: "txt txt txt txt txt txt txt txt . img img img";
        column-gap: 2%;
    }

    .hero__text {
        grid-area: txt;
    }

    .hero__photo {
        grid-area: img;
        display: block;
    }
}