/* ----------------------- */
/* 1. CUSTOM PROPERTIES -- */
/* 2. RESET CSS ---------- */
/* 3. UTILITY CLASSES ---- */
/* 4. COMPONENTS --------- */
/* 5. SPECIFIC CLASSES --- */

/* -1. MEDIA QUEARIES ---- */
/* ----------------------- */


/* ----------------------- */
/* 1. CUSTOM PROPERTIES -- */
/* ----------------------- */

:root {
    --ff-serif: "Ovo", serif;
    --ff-sans-serif: "Exo", sans-serif;

    /* Colors */
    /*
    --clr__dark: hsla(0, 0%, 10%, 1);
    --clr__light: hsl(0, 5%, 90%, 0.9);
    --clr__base-dark: hsl(180, 70%, 20%, 0.87);
    --clr__base-light: hsl(180, 70%, 35%, 0.87);
    --clr__accent-dark: hsl(0, 60%, 52%, 0.8);
    --clr__accent-light: hsl(0, 90%, 74%, 0.8);
    */ 
    
    /* HSL codes */
    --clr__dark: 0, 0%, 10%;
    --clr__light: 0, 5%, 90%;
    --clr__base-dark: 180, 70%, 20%;
    --clr__base-light: 180, 70%, 35%;
    --clr__accent-dark: 0, 90%, 67%;
    --clr__accent-light: 0, 90%, 74%;

    /* Opacity */
    --opc__light: 0.9;
    --opc__base: 0.87;
    --opc__accent: 0.8; 


    /* Font sizes*/ 
    --fs-900: 7rem;
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2.25rem;
    --fs-550: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.25rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    --fs-100: 0.5rem;
    --fs-050: 0.2rem;

    /* Font weights */
    --fw-semibold: 600;
    --fw-medium: 500;
    --fw-regular: 400;
    --fw-light: 300;  

    /* Flow spaces */
    --flow-space__section: 2.5em;
    --flow-space__div: 1.5em;

    /* Golden ratio */
    --golden-ratio: 1.618; 

    /* Grid gap */
    --gap: 1.5rem;

    /* Button border */
    --btn__border: 2px solid; 

    /* Transitions */
    --trans__button: 200ms ease-out; 

    

    

    /* Button transitions */
    
    
    

    /* Reference outline */
    --ref-outline: 2px solid gold;  

}



/* ----------------------- */
/* 2. RESET CSS ---------- */
/* ----------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing, resetting margins & paddings */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set up the body */
body {
    overflow-x: hidden; /* Wasn't added by Kevin. https://piccalil.li/tutorial/creating-a-full-bleed-css-utility/ */ 
    line-height: 1.5;
    min-height: 100vh;

    background-color: hsl( var(--clr__dark) );
    color: hsl( var(--clr__light) );

    font-family: var(--ff-sans-serif);
}

/* Make images easier to work with */
img,
picture,
figure {
    max-width: 100%;
    display: block;
}

/* Unstyle lists  *[role="list"]  ile olur mu ?  */
ul, ol, li {
    list-style: none;
} 

/* Make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* A11Y - Remove all animations, transitions and smooth scroll for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  } 



/* ----------------------- */
/* 3. UTILITY CLASSES ---- */
/* ----------------------- */

/* Display */ 
.container {
    width: min(90%, 1200px);
    margin: 0 auto;
}

.flex, .flex-reverse {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 1rem);
}




/* z-index */ 


/* A11Y - screen reader only: only for assistive technologies which read the page out loud */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
} 


/* Colors */ 
/* Text colors */
.text__dark {
    color: hsl( var(--clr__dark) );
}

.text__light {
    color: hsl( var(--clr__light) );
}

.text__accent-light {
    color: hsl( var(--clr__accent-light) );
}

.text__accent-dark {
    color: hsl( var(--clr__accent-dark) );
}

.text__base-dark {
    color: hsl( var(--clr__base-dark) );
}

.text__base-light {
    color: hsl( var(--clr__base-light) );
}

/* Background colors  */  
.bg__dark {
    background-color: hsl( var(--clr__dark) );
}

.bg__light {
    background-color: hsl( var(--clr__light) );
}

.bg__accent-light {
    background-color: hsl( var(--clr__accent-light) );
}

.bg__accent-dark {
    background-color: hsl( var(--clr__accent-dark) );
}

.bg__base-dark {
    background-color: hsl( var(--clr__base-dark) );
}

.bg__base-light {
    background-color: hsl( var(--clr__base-light) );
}


/* Typography */
h1 {
    font-size: clamp(var(--fs-700), 1vw + 1rem, var(--fs-900));
    font-weight: var(--fw-regular);

    outline: var(--ref-outline);
}

h2 {
    font-size: clamp(var(--fs-600), 1.5vw + 1.5em, var(--fs-700));
    font-weight: var(--fw-regular);
}

h3 {
    font-size: var(--fs-600);
    font-weight: var(--fw-medium);
}

p {
    font-size: clamp(var(--fs-300), .6vw + 1rem, var(--fs-500));
    font-weight: var(--fw-light);
}


/* Margins & paddings */ 
.flow__section > *:where(:not(:first-child)) { 
    margin-top: var(--flow-space__section, 1em);

    /* 
    *:not(:first-child) === lobotimized owl * + * 
    But :not(:first-child) has specificity of class selector while * + * is global 
    Global is too general but class selectors can be too specific to override.
    To remove that speficity we add :where()
    */ 
}

.flow__div > *:where(:not(:first-child)) {
    margin-top: var(--flow-space__div, 1em);
}

.alignment__text {
    text-align: center;
}

/* ----------------------- */
/* 4. COMPONENTS --------- */
/* ----------------------- */

/* Interactive elements -- */ 
/* Buttons */ 
.button {
    position: relative;
    display: inline-block;
    /* margin: var(--fs-200); */
    padding: var(--fs-050) var(--fs-300);
    font-weight: var(--fw-semibold);
    border-radius: var(--fs-200);

    transition: 
        transform var(--trans__button),
        filter var(--trans__button);    
    }

.button:hover, .button:focus {
    transform: scale(1.05);
    filter: brightness(125%);
    cursor: pointer;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsl( var(--clr__light) );
    opacity: 0.05;
    width: calc(100% + 4px);
    height: 100%;
    border-radius: var(--fs-200);
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 300ms ease-in;
}

.button:hover::before {
    transform-origin: top left;
    transform: scale(1);
}

.button:active {
    transform: scale(1);
    filter: brightness(150%);
}

.btn__primary {
    background-color: hsl( var(--clr__dark) );
    border: .15em solid hsl( var(--clr__dark) );
    box-shadow: 
        inset 0px 2px 0 hsl( var(--clr__accent-light) ),
        inset 0px -2px 0 hsl( var(--clr__accent-light) ),
        inset 2px 0 hsl( var(--clr__accent-light) ),
        inset -2px 0 hsl( var(--clr__accent-light) );    
}


.btn__secondary {
    background-color: hsl( var(--clr__base-dark) );
    border: .15em solid hsl( var(--clr__base-dark) );
    box-shadow: 
        inset 0px 2px 0 hsl( var(--clr__light) ),
        inset 0px -2px 0 hsl( var(--clr__light) ),
        inset 2px 0 hsl( var(--clr__light) ),
        inset -2px 0 hsl( var(--clr__light) );
} 


/* Links */ 
.link{
    display: inline-block;
    text-decoration: none;    
    font-size: clamp(var(--fs-300), 1.5vw + 1rem, var(--fs-500));
    font-weight: var(--fw-regular);
} 

.link__primary {
    color: hsl( var(--clr__accent-light) );
}

.link__secondary {
    color: hsl( var(--clr__light) );
}


/* Thumbnails */ 
.thumbnail__project {
    aspect-ratio: var(--golden-ratio, 1.618);
    background-color: aliceblue;
}


/* ----------------------- */
/* 5. SECTION CLASSES ---- */
/* ----------------------- */

/* Nav Bar */
.nav {
    display: contents;
} 

.nav__list {
    display: flex;
    column-gap: 3em;
}

.nav__item {
    position: relative;
}

.nav__link {
    text-decoration: none;
    color: hsl( var(--clr__light) );
}

.nav__link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: hsl( var(--clr__light) );
    opacity: .4;
    
    transform-origin: right;
    transform: scaleX(0);
    transition: 
        transform 200ms ease-in-out,
        opacity 200ms cubic-bezier(.13,.8,.81,1);
  }

.nav__link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    opacity: 1;
}


/* Hero */ 
#hero {
    outline: var(--ref-outline);
    margin: 0 auto; 
}

.hero__text h1 {
    font-family: var(--ff-serif);
    width: 100%;
    margin-bottom: 0.1em;
}

.hero__text p {
    font-size: clamp(var(--fs-500), 1.5vw + 1rem, var(--fs-600)); 
    font-weight: var(--fw-regular);
}

.hero__btn {
    margin: var(--fs-300) auto;
}





/* ----------------------- */
/* -1. MEDIA QUEARIES ---- */
/* ----------------------- */


/* ----------------------- */
/* 1. CUSTOM PROPERTIES -- */
/* 2. RESET CSS ---------- */
/* 3. UTILITY CLASSES ---- */
/* 4. COMPONENTS --------- */
/* 5. SPECIFIC CLASSES --- */


@media only screen and (min-width: 600px) {
/* 3. UTILITY CLASSES ---- */
    .flex {
        flex-direction: row;
        justify-content: space-between;
    }

    .flex-reverse {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .wide {
        width: 48%;
    }

    .narrow {
        width: 42%;
    }

    .alignment__text {
        text-align: left;
    }

/* 4. COMPONENTS --------- */


/* 5. SPECIFIC CLASSES --- */
    .hero__about {
        /* grid-column: span 5 / 13; */
        justify-content: flex-start;
        align-items: flex-end;
        background-image: url("./../../images/hero/hero_img_accent_overlay.jpg");
        background-repeat: no-repeat;
        background-position: center right 30%;
        background-size: cover;
    }

    .hero__btn {
        margin-left: var(--fs-200);
        margin-bottom: var(--fs-200);
    }

}